<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<div class="card modal" id="user-registration-modal">
    <h2 clsss="text-center">ユーザー登録</h2>
    <i class="bi bi-x-circle close-button" id="user-registration-close-modal"></i>
    <div class="modal-body mx-2">
        <div class="container-fluid mx-2">
            <form method="POST" action="registration" id="registration-form">
                <div class="row input-group input-group-sm mb-4 mx-3 justify-content-center">
                    <label for="name" class="form-label input-group-text" id="user-name-label">ユーザー名</label>
                    <input name="name" id="name" type="text" placeholder="ユーザー名" aria-describedby="user-name-label">
                </div>
                <span id="username-error-message"></span>
                <div class="row input-group input-group-sm mb-4 mx-3 justify-content-center">
                    <label for="email" class="form-label input-group-text" id="email-label">メールアドレス</label>
                    <input type="email" name="email" id="email" placeholder="メールアドレス" aria-describedby="email-label">
                </div>
                <span id="email-error-message"></span><br>
                <button type="submit" class="btn btn-primary my-2 mx-4">送信</button>
            </form>
        </div>
    </div>
</div>