<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="utf-8">
    <title>氏名登録</title>
</head>
<body>
    <h1>Sample html</h1>
    <p>氏名登録</p>
    <form action="post">
        <input type="text" name="last_name" id="last_name"><label for="last_name">姓</label>
        <input type="text" name="first_name" id="first_name"><label for="first_name">名</label>
        <button type="submit">送信</button>
    </form>
</body>
</html>