<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8" />
        <title>郵便番号API
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <%- include('./partials/head'); %>
            <div class="card m-3">
                <h1 class="card-title mt-4 ml-4">郵便番号</h1>
                <div class="card-body">
                    <form method="POST" action="postal_code_result">
                        <div class="col-12">
                            <label for="postal_code" class="form-label">郵便番号</label>
                            <input name="postal_code" id="postal_code" class="form-control my-2" type="number"
                                placeholder="郵便番号" required>
                            <button type="submit" class="btn btn-primary col-12 my-2">送信</button>
                        </div>
                    </form>
                </div>
            </div>

    </body>

</html>