<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>スクラム描画
        </title>
    </head>

    <body onLoad="draw()">
        <%- include('./partials/head'); %>
            <h1 class="m-3">スクラム描画</h2>
                <div class="mt-4 d-flex container-fluid">
                    <div class="mx-1 bg-light">
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">身長</span>
                            </div>
                            <input type="number" id="bodyHeight" class="form-control" value="175" onChange="draw()">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">首の角度</span>
                            </div>
                            <input type="number" id="neckAngle" class="form-control" value="5" onChange="draw()">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">股関節の角度</span>
                            </div>
                            <input type="number" id="kokansetsuAngle" class="form-control" value="90" onChange="draw()">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">膝の角度</span>
                            </div>
                            <input type="number" id="kneeAngle" class="form-control" value="110" onChange="draw()">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">足首の角度</span>
                            </div>
                            <input type="number" id="ankleAngle" class="form-control" value="55" onChange="draw()">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">地面と足の角度</span>
                            </div>
                            <input type="number" id="footAngle" class="form-control" value="145" onChange="draw()">
                        </div>
                    </div>

                    <div class="ml-5">
                        <p class="text-center">描画エリア</p>
                        <canvas width="300" height="250" id="sample" style="background-color:rgb(26, 29, 38)">
                            図形を表示するには、canvasタグをサポートしたブラウザが必要です。
                        </canvas>
                    </div>
                </div>
                <div class="ml-3 row">
                    <div class="col btn btn-primary my-3" onClick="triple()" style="max-width: 20vw;">Triple Extension
                    </div>
                    <div class="col input-group my-3" style="max-width: 35vw;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">伸展する角度</span>
                        </div>
                        <input type="number" id="tripleExtensionAngle" class="form-control" value="5">
                    </div>
                </div>
                <script type="text/javascript" src="scrum.js"></script>
    </body>

</html>