<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <title>LINE送信</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <%- include('./partials/head'); %>
      <div class="card m-3">
        <h1 class="card-title mt-4 ml-4">LINEメッセージ送信</h1>

        <div class="card-body">
          <form method="POST" action="send_message">

            <div class="col-12">
              <label for="message_text" class="form-label">メッセージ</label>
              <textarea name="message_text" id="message_text" class="form-control" placeholder="ここにメッセージを入力"
                required></textarea>
            </div>

            <div class="d-flex mt-3">
              <!-- LINEスタンプID情報 https://developers.line.biz/ja/docs/messaging-api/sticker-list/#sticker-definitions -->
              <div class="col-6">
                <label for="sticker_package_id" class="form-label">ステッカーパッケージID</label>
                <input type="number" name="sticker_package_id" id="sticker_package_id" class="form-control"
                  value="8515" />
              </div>

              <div class="col-6">
                <label for="sticker_id" class="form-label">ステッカーID</label>
                <input type="number" name="sticker_id" id="sticker_id" class="form-control" value="16581246" />
              </div>
            </div>

            <div class="m-3">
              <button type="submit" class="btn btn-primary col-12">送信</button>
            </div>

          </form>
        </div>
      </div>
  </body>

</html>