h1 {
    font-size: large;
    font-style: italic;
    color: mediumspringgreen
}

input {
    margin: 2vw;
}

button {
    margin: 3vw;
    border-radius: 1vw;
    background-color: dodgerblue;
    color: white;
}

/* モーダル部分 */
.find-all-user-modal-wrapper,
.find-user-by-id-modal-wrapper,
.user-registration-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.modal {
    position: absolute;
    top: 5%;
    background-color: #e6ecf0;
    border-radius: 10px;
    height: auto;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 12px;
    right: 5px;
    /* color: rgba(242, 241, 241, 0.873); */
    cursor: pointer;
}

#registration-form,
#find-user-form {
    width: 100%;
}

span {
    color: red;
    font-style: italic;
}